In [1]:
from faker import Faker

In [6]:
fake = Faker()

In [7]:
Faker.seed(78)

In [14]:
fake.pricetag()

'$70,325.65'

In [17]:
# gerando dados randomicos r√°pidamente.
data_src = [
    {
        'username': fake.user_name(),
        'nome': fake.name(),
        'email': fake.ascii_free_email(),
        'seed':fake.dga(),
        'is_active':fake.pybool(),
        'created_date': fake.date(),
        'spend_value':fake.pricetag()
        }
    for i in range(10000)
]

In [18]:
import pandas as pd

df = pd.DataFrame(data_src)

In [19]:
df.head()

,username,nome,email,seed,is_active,created_date,spend_value
0,david88,Margaret Clark,valeriejohnson@gmail.com,lkonlby.com,True,1982-12-20,"$2,786.62"
1,laceyshort,Dr. Brian Lewis,collinsjeffrey@gmail.com,eievhrhstqlfbekpcjkgjuvdryhwycxinkxybqenwpjcka...,True,2002-07-16,$71.90
2,henrymatthew,James Long,iaguirre@yahoo.com,xkhswpuqfgicoppuvcgnjuou.org,True,1993-06-29,"$9,226.57"
3,iwilliams,Mariah Vasquez,chelsea85@gmail.com,qmoiyvskjckxqdeyonnjnwtvscamkrlfsilgiwnwlmjwgl...,True,1987-12-31,$860.09
4,zachary86,Lisa Gutierrez,kellybaker@yahoo.com,cxuiokrbgobbjluvnpicgld.com,False,2012-10-18,"$8,479.39"

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   username      10000 non-null  object
 1   nome          10000 non-null  object
 2   email         10000 non-null  object
 3   seed          10000 non-null  object
 4   is_active     10000 non-null  bool
 5   created_date  10000 non-null  object
 6   spend_value   10000 non-null  object
dtypes: bool(1), object(6)
memory usage: 478.6+ KB

In [21]:
df.to_excel("output.xlsx")

In [22]:
! pwd

/home/tluca/git_unix/continuous-study/Standard